a {
color:#000;
}
li {
list-style:none;
}
.panel-default>.panel-heading {
    color: #0c66c1;
    background-color: #ffffff;
    border-color: #fff;
}
.panel-group .panel+.panel {
    margin-top: 0px;
}
.panel-group {
        margin-top: 35px;
}
.panel-collapse {
        background-color:#ffffff;
}
.glyphicon {
margin-right:10px;
}
ul.list-group {
        margin:0px;
}
ul.bulletlist li {
        list-style:disc;
}
ul.list-group  li a {
 display:block;
 padding:5px 0px 5px 15px;
 text-decoration:none;
}

ul.list-group li {
        border-bottom: 1px dotted rgba(0,0,0,0.2);
}


ul.list-group  li a:hover, ul li a:focus {
 color:#000;
 background-color: #e6e6e6;
}

.panel-title a:hover,
.panel-title a:active,
.panel-title a:focus,
.panel-title .open a:hover,
.panel-title .open a:active,
.panel-title .open a:focus
 {
        text-decoration:none;
        color:#000;
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
        display: block;
}

@media (min-width: 768px){
.navbar-collapse.collapse
        {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
        padding-left:0px;
}
}

@media (min-width: 992px){
.menu-hide {
    display: none;
}

}
.menu-hide .panel-default>.panel-heading {
    color: #000;
    background-color: #ffffff;
    border-color: #ddd;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle {
    padding: 11px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #adadad;
    border-radius: 0px;
}
