<!DOCTYPE html>
<head>
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/bootstrap-datepicker.min.css" />
  <script src="static/menu/jquery-1.11.1.min.js"></script>
  <link href="static/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="static/menu/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="static/menu/bootstrap.min.js"></script>
  <link href="static/menu/custom.css" rel="stylesheet">
  <style>
    .form-control {
      display: block;
      width:100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  </style>
</head>

<body>
 <div class="col-md-3">
  <div id="sidenav1">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sideNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    <div class="collapse navbar-collapse" id="sideNavbar">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="/home"><span class="glyphicon glyphicon-home"></span>Home</a> </h4>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-cog"> </span>Configurations<span class="caret"></span></a> </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <ul class="list-group">
            <li><a href="/hw_list" class="navlink">Add a new hardware</a></li>
             </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-plus"> </span>Images<span class="caret"></span></a> </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <ul class="list-group">
              <li><a href="/enternew" class="navlink">Register Image</a></li>
              <li><a href="/list" class="navlink">Generate Image</a></li>
            </ul>
          </div>
        </div>

         <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-list-alt"> </span>Applications<span class="caret"></span></a> </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in">
            <ul class="list-group">
              <li><a href="/applications64" class="navlink">64Bit Applications</a></li>
              <li><a href="/" class="navlink">32Bit Applications</a></li>
              <li><a href="/gitlab_gen" class="navlink">Generate from GitLab</a></li>
            </ul>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-list-alt"> </span>Reports<span class="caret"></span></a> </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <ul class="list-group">
              <li><a href="/report" class="navlink">Get Reports</a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a> </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <div class="container" style="padding-left: 20%;padding-top: 20px;">
    <form id="apps" action="/app_gen_run_ss32" method="POST">
      <h4>App for SoftSwitch 32-bit</h4>
      <label>Serial Number:</label>
      <input type="text" name="serial"/><br><br>
      <label>Select App version:</label>
      <select name="app_ver" required >
        {% for app in apps %}
          <option value="{{app}}">{{app}}</option>
        {% endfor %}
      </select><br>
      <button class="btn btn-success"  type = "submit"/>Generate App</button>
    </form><br>
    <hr>
    <form id="mods" action="/app_gen_run_ss32" method="POST">
      <h4>Module for SoftSwitch 32-bit</h4>
      <label>Serial Number:</label>
      <input type="text" name="serial"/><br><br>
      <label>Select Module version:</label>
      <select name="mod_ver" required >
        {% for mod in mods %}
          <option value="{{mod}}">{{mod}}</option>
        {% endfor %}
      </select><br>
      <button class="btn btn-success"  type = "submit"/>Generate module</button>
    </form><br>
    <hr>
    <form id="extra" action="/app_gen_run_ss32" method="POST">
      <h4>Extra for SoftSwitch 32-bit</h4>
      <label>Serial Number:</label>
      <input type="text" name="serial"/><br><br>
      <label>Select Extra version:</label>
      <select name="extra_ver" required >
        {% for ext in extra %}
          <option value="{{ext}}">{{ext}}</option>
        {% endfor %}
      </select><br>
      <button class="btn btn-success"  type = "submit"/>Generate App</button>
    </form><br>
    <hr>
    <form id="def" action="/def_gen_run_ss32" method="POST">
      <h4>Default for Softswitch 32-bit</h4>
      <label>Serial Number:</label>
      <input type="text" name="serial"/><br><br>
      <label>Select App version:</label>
      <select name="app_ver" required >
      {% for app in apps %}
        <option value="{{app}}">{{app}}</option>
      {% endfor %}
      </select><br>

      <label>Select Module version:</label>
      <select name="mod_ver" required >
      {% for mod in mods %}
        <option value="{{mod}}">{{mod}}</option>
      {% endfor %}
      </select><br>

      <label>Select Extra version:</label>
      <select name="extra_ver" required >
      {% for ext in extra %}
        <option value="{{ext}}">{{ext}}</option>
      {% endfor %}
      </select><br>

      <button class="btn btn-success"  type = "submit"/>Generate Default</button>
    </form>

  </div>
</body>

