<html>
  <head>
    <link rel="stylesheet" media="screen" href ="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap-theme.min.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
    <h3> Your app <b>{{app_ver}}</b> successfully generated for serial <b>{{serial}}</b></h3>
    <h4><a style="color: #1c7ab6;" href=/generated_apps/bcf64/apps/Apps-{{serial}}-V{{app_ver}}-Ent2 > Download app for serial: {{serial}}</a></h4>
    <h3><a href = "/app_gen_bcf64">Back</a></h3>
  </body>
</html>

