<html>
 <head>
       <link rel="stylesheet" media="screen" href ="../static/bootstrap.min.css">
       <link rel="stylesheet" href="../static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 </head>
 <body>
      <div class="container">
      <h3> The Image with serial <b>{{serial}}</b> will remove permanently,</h3>
     <h3> Are you sure? &nbsp; &nbsp; <a href = "/img_rm/{{serial}}">Yes</a>&nbsp; &nbsp; <a href = "\list">No</a></h3>
 </body>
</html>

