<!DOCTYPE html>
<head>
  <script src="static/menu/jquery-1.11.1.min.js"></script>
  <link href="static/menu/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="static/menu/bootstrap.min.js"></script>
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <link href="static/menu/custom.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AVA Communication Co</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentuser}}<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="/user_settings">Settings</a></li>
      <li><a href="/help">Help</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
    </li>
    </ul>
    </div>
  </div>
</nav>

  <div class="col-md-3">
  <div id="sidenav1">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sideNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    <div class="collapse navbar-collapse" id="sideNavbar">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="/home"><span class="glyphicon glyphicon-home"></span>Home</a> </h4>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-cog"> </span>Configurations<span class="caret"></span></a> </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <ul class="list-group">
              <li><a href="/hw_list" class="navlink">Add a new hardware</a></li>
              <li><a href="/users" class="navlink">Define a User</a></li>
              <li><a href="/user_settings" class="navlink">User settings</a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-plus"> </span>Images<span class="caret"></span></a> </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <ul class="list-group">
              <li><a href="/enternew" class="navlink">Register Image</a></li>
              <li><a href="/list" class="navlink">Generate Image</a></li>
            </ul>
          </div>
        </div>

         <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-list-alt"> </span>Applications<span class="caret"></span></a> </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in">
            <ul class="list-group">
              <li><a href="/applications64" class="navlink">64Bit Applications</a></li>
              <li><a href="/applications32" class="navlink">32Bit Applications</a></li>
              <li><a href="/gitlab_gen" class="navlink">Generate from GitLab</a></li>
            </ul>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-list-alt"> </span>Reports<span class="caret"></span></a> </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <ul class="list-group">
              <li><a href="/report" class="navlink">Get Reports</a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a> </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container" style="padding-left: 20%;padding-top: 30px;">
 <!--  <a href="/app_gen_ss32" style="position: absolute; right: 150px;" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">>>Generate Applications</a> -->
    <div class="custom-file">
      <h3>Fill out the form to generate apps/mods/extra:</h3>
      <form action = "/agcf_git_gen" method = "POST" enctype = "multipart/form-data">
        <div class="from-group">

        <label for="serial">Request for:</label>
        <select class="form-control" id="type" name="type" required >
          <option value="apps">Apps</option>
          <option value="mods">Mods</option>
          <option value="extra">Extra</option>
        </select><br>

        <label for="serial">GitLab URL address:</label>
          <input type = "text" class="form-control" id="url"  name = "url" placeholder="https://repo.lc.ava-telecom.ir:4090/avadev/X_apps" required /><br>

        <label for="serial">GitLab branch name:</label>
          <input type = "text" class="form-control" id="git_branch"  name = "git_branch" placeholder="master" required /><br>


          <label for="serial">Enter serial Number:</label>
          <input type = "text" class="form-control" id="serial"  name = "serial" placeholder="000019253-298272720" required /><br>
          
        <label for="serial">Select Unit name:</label>
        <select class="form-control" id="unit" name="unit" required >
          <option value="public">Public</option>
          <option value="pbx">PBX</option>
          <option value="sbc">SBC</option>
          <option value="racf">RACF</option>
          <option value="bcf">BCF</option>
          <option value="nms">NMS</option>
          <option value="agcf">AGCF</option>
        </select><br>


        <label for="serial">Select Unit type:</label>
        <select class="form-control" id="git_model" name="git_model" required >
          <option value="Ent2">Ent2</option>
          <option value="Ent10K">Ent10K</option>
        </select><br>


 
         <label for="serial">GitLab Username:</label>
          <input type = "text" class="form-control" id="git_user"  name = "git_user" placeholder="ava" required /><br>

          <label for="serial">GitLab Password:</label> 
          <input type = "password" class="form-control" id="git_pass"  name = "git_pass" required /><br>



          <p>Notice: It takes some time to download the source codes from the gitlab server and build the firmware/app for you.</p>
          <button class="btn btn-success"   type = "submit" style="width:200px;" />Send Request</button>
          <!-- <img id="loading_gif" src="static/img/project-loader-colors.gif" style="display: none;" width="60" height="50"> -->
	</div>
     </form>
   </div>
   <hr>
<!--
  <div class="custom-file">
      <h4>Downoad from FTP directly(fw.ava-telecom.ir):</h4>
      <p>Notice: It takes time to download the file, Wait for a few minute please.</p>
      <form action = "/download_ftp_ss32" method = "POST">
        <div class="from-group">
          <input class="custom-file-input" type = "text" name = "app_version" placeholder="r557"/>
          <button class="btn btn-success"  onclick="loadingfunc()" type = "submit"/>Download</button>
          <img id="loading_gif" src="static/img/project-loader-colors.gif" style="display: none;" width="60" height="50">
        </div>
     </form>
   </div>
-->
   
   <h3>Apps Repository </h3>
   <p>Number of apps: {{apps_count}}</p>
   <table class="table table-striped table-hover">
   {% for app in apps %}
     <tr><td>{{app}}</td><td><a style="color: #1c7ab6;" href=/gitlab_repo_apps/{{app}} > Download the app: {{app}}</a></td></tr>
   {% endfor %}
   </table><br><hr>
   
   
   <h3>Mods Repository</h3>	
   <p>Number of modules: {{mods_count}}</p>
   <table class="table table-striped table-hover">
   {% for mod in mods %}
     <tr><td>{{mod}}</td><td><a style="color: #1c7ab6;" href=/gitlab_repo_mods/{{mod}} > Download the mods: {{mod}}</a></td></tr>
   {% endfor %}
   </table>
   <hr>
   <h3>Extra Repository</h3>
   <p>Number of Extra: {{mods_count}}</p>
   <table class="table table-striped table-hover">
   {% for ext in extra %}
     <tr><td>{{ext}}</td><td><a style="color: #1c7ab6;" href=/gitlab_repo_extra/{{ext}} > Download the extra: {{ext}}</a></td></tr>
   {% endfor %}
   </table>
  
  </div>
<!--<script>
function loadingfunc() {
  document.getElementById("loading_gif").style.display = "block";
}
</script> -->
</body>
