<html>
  <head>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  </head>
  <body>
       <div class="container">
       <h1 style="text-align: center;" >404</h1>
       <h3 style="text-align: center;">Something is wrong, check your input and try again ;)</h3>
       <h3 style="text-align: center;"><a href = "\home">Home</a></h3>
  <body>
</html>
